
/************ Variables ************/

$color-accent: hsl(43, 100%, 57%);
$color-accent-hover: hsl(43, 100%, 50%);
$color-contrast: hsl(0, 0%, 100%);
$gray-100: hsl(0, 0%, 6%);
$gray-200: hsl(0, 0%, 12%);
$gray-300: hsl(0, 0%, 15%);
$gray-350: hsl(0, 0%, 20%);
$gray-380: hsl(0, 0%, 30%);
$gray-400: hsl(0, 0%, 40%);
$gray-500: hsl(0, 0%, 50%);
$gray-600: hsl(0, 0%, 60%);
$gray-text: hsl(0, 0%, 55%);
$gray-text-hover: hsl(0, 0%, 80%);

/************ General ************/

*{
	margin: 0;
	padding: 0;
	font: inherit;
	accent-color: $color-accent;
	color-scheme: dark;
}

img{
	width:100%;
	display: block;
}

body{
	background-color: rgba(20,20,20);
	color: $color-contrast;
	font-family: sans-serif
}

html{
	scroll-behavior: smooth;
}

a{
	background-color: rgba(20,20,20);
	scroll-behavior: smooth;
}

button{
	background-color: transparent;
	border: none;
	color: $color-contrast;
	cursor: pointer;
	user-select: none;
}

/************ Main Style ************/

main{
	display: flex;
	height: 94dvh;
	position: relative;
}

hr{
	border-color: $gray-text;
	margin-block: .5rem;
}



/*---------- nav ----------*/

//region nav

nav{
	width: 100%;
	height: 6dvh;
	background-color: $gray-200;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 10;

	.login-nav{
		display: flex;
		justify-content: center;
	}
	
	h1{
		font-size: 5dvh;
		vertical-align:middle;
		margin-block: auto;
		text-transform: uppercase;
		font-family: "Kanit", sans-serif;
		line-height: 100%;
	}

	.left{
		height: inherit;
		display: flex;
		justify-content: center;
		min-width: 20%;
		width: fit-content;

		.logo{
			height: 100%;
			aspect-ratio: 1;
			img{
				width: 100%;
			}
		}

		h1{
			color: $color-accent;
		}
	}

	.right{
		display: flex;
		justify-content: center;
		flex-grow: 1;

		h1{
			color: $gray-text-hover;
		}
	}
}

@media (max-width: 767px) {
	nav {

		h1 {
			font-size: 4dvh;
		}

		.left {
			min-width: 0rem;

			h1 {
				display: none;
			}

			.logo {
				height: 80%;
				position: absolute;
				left: .5rem;
				top: .5rem;
			}
		}
	}
}

//endregion

/*---------- aside ----------*/

//region aside

main aside{
	width: fit-content;
	min-width: 20%;
	background-color: $gray-300;
	padding: .5rem .8rem 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	hr{
		margin-block: 0.3rem;
	}

	.toggleAside{
		display: none;
	}
}

@media (max-width: 767px) {
	body main aside{
		position: absolute;
		z-index: 100;
		width: 10vw;
		min-width: 0;
		padding: .5rem;
		box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.42);
		transition: all .3s;

		.toggleAside{
			display: grid;
			place-content: center;
			font-size: 1.2rem;
			padding: .2rem;

			.x{
				display: none;
			}
		}

		&:not(.active){
			border-bottom-right-radius: .5rem;

			.buttons.bottom, button, .content, hr{
				display: none !important;
			}
		}

		&.active{
			height: 94dvh;
			width: 90vw;

			.toggleAside{
				.x{
					display: block;
				}

				.burger{
					display: none;
				}
			}
		}
	}
}

main aside .buttons.top{
	display: flex;
	flex-wrap: wrap;
	gap: 0rem 1rem;

	button {
		text-transform: uppercase;
		font-family: 'Kanit', sans-serif;
		font-size: 1.3rem;
		font-weight: 300;
		display: block;
		color: $gray-text;
		transition: color .2s;
		&:hover{
			color: $gray-text-hover;
		}

		&.selected {
			color: $color-contrast;
		}
	}
}

main aside ul{
	list-style-type: none;
}

main aside .content > ul{
	opacity: 0;
	height: 0;
	overflow: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar{
		display: none;
	}

	&.selected{
		transition: opacity .5s;
		height: auto;
		opacity: 1;

		li{
			margin-bottom: 0;
		}
	}
}

main aside ul li{
	text-transform: uppercase;
	font: {
		size: 1.3rem;
		weight: 200;
		family: 'Kanit', sans-serif;
	}
	color: $gray-text;
	margin-top: .3rem;
	margin-left: 1.5rem;
	position: relative;
	transition: font .2s, color .2s, margin-bottom .3s;
	cursor: pointer;
	user-select: none;
	margin-bottom: -2rem;

	&:hover{
		color: $gray-text-hover;
	}

	span{
		position: relative;
	}

	&:not(:has(ul))::before, span::before{
		content: "";
		position: absolute;
		right: 100%;
		margin-right: .8rem;
		top: 50%;
		transform: translateY(-50%);
		background-color: $color-contrast;
		aspect-ratio: 1;
		width: .4rem;
		rotate: 45deg;
	}

	&.selected, &.selected span{
		color: $color-contrast;

		&::before{
			background-color: $color-accent;
		}
	}

	&.last{
		margin-top: .8rem;

		&::before{
			border-radius: 50%;
			width: .5rem;
		}
	}
}

main aside .buttons.bottom{
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0 1rem;

	button{
		color: $gray-text-hover;
		text: {
			decoration: underline;
			decoration-color: transparent;
			transform: uppercase;
		}
		font: {
			family: montserrat;
			weight: 300;
		}
		cursor: pointer;
		transition: all .2s;
		padding-block: .8rem;

		&:hover{
			text-decoration-color: #b9b9b9;
		}

		i{
			color: $gray-text;
			margin-inline: .5rem;
		}
	}
}

main aside .createFilterItem{
	display: flex;
	/*flex-wrap: wrap;*/
	align-items: center;
	gap: 1rem;
	padding: .5rem;
	background-color: $gray-350;
	border-radius: .5rem;
	margin-top: 2rem;
	font-family: 'Kanit', sans-serif;
	box-sizing: border-box;

	input, select{
		width: 100%;
		padding: .2rem;
		box-sizing: border-box;
	}

	button{
		margin-left: auto;
		color: $color-accent;
		transition: all .2s;
		padding: .3rem;
		text-transform: uppercase;
		border: .1rem solid $color-accent;
		border-radius: .5rem;
		aspect-ratio: 1;
		height: 2rem;
		display: grid;
		place-content: center;

		&:hover{
			color: $gray-350;
			background-color: $color-accent;
		}
	}

	div{
		display: flex;
		gap: .5rem;
		align-items: center;
		width: 100%;

		button{
			aspect-ratio: initial;
		}
	}
}

main aside .content .typeID .createFilterItem{
	flex-direction: column;
	align-items: flex-start;
}

//endregion

/*---------- animals ----------*/

//region animals

main .animals{
	width: auto;
	height: 100%;
	background-color: $gray-100;
	flex-grow: 1;
	padding: 1rem;
	box-sizing: border-box;
	font-size: .9rem;
	display: flex;
	flex-direction: column;
	position: relative;

	.header{
		display: flex;
		justify-content: space-between;
		padding-bottom: .3rem;
	}

	&>.bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10vh;
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		pointer-events: none;
	}

	#datePick{
		visibility: hidden;
		height: 0;
		width: 0;
	}
}

main .animals .header .path{
	font: {
		family: "Kanit", sans-serif;
		size: 1.1rem;
		weight: 200;
	}
	text-transform: uppercase;
	color: $gray-text;
	user-select: none;

	span {
		cursor: pointer;
		transition: color .1s;
		&:hover{
			color: $gray-text-hover;
		}
	}

	span.thispage{
		color: $color-contrast
	}
}

@media (max-width: 767px) {
	main .animals .header .path {
		margin-left: 2.5rem;
	}
}

main .animals .header button{
	padding: .15rem .8rem;

	color: $color-accent;
	font:{
		weight: 300;
		family: "Kanit", sans-serif;
	}
	text-transform: uppercase;
	transition: all .2s;

	i{
		display: none;
	}

	&.outlined{
		border: .12rem solid $color-accent;
		border-radius: 1rem;

		&:hover{
			/*
			font-weight: 500;
			*/
			color: black;
			background-color: $color-accent;
		}
	}
}

@media (max-width: 767px) {
	main .animals .header button {
		.text {
			display: none;
		}

		i {
			display: block;
			font-size: 1.3rem;
		}

		&.outlined {
			border: none;
		}

		&:hover{
			background-color: transparent !important;
			color: $color-accent !important;
		}
	}
}

main .animals .content{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1rem;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar{
		display: none;
	}
	padding-bottom: 10vh;

	.column{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: fit-content;
		gap: 1rem;
	}
}

main .animals .content .animal{
	background-color: $gray-200;
	border-radius: .5rem;
	box-sizing: border-box;
	padding: .5rem;
	font-family: "montserrat", "sans-serif";
	width: 100%;
	overflow: hidden;
	position: relative;

	&:hover .top .imgbox i{
		opacity: 1;
	}

	&:hover .bottom i{
		opacity: 1;
	}

	&:hover .top .imgbox i{
		display: block;
	}

	h2{
		font: {
			size: 2rem;
			weight: 500;
			family: "Kanit", sans-serif;
		}
		text-transform: uppercase;
		color: $color-accent;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
		width: 100%;
		transition: all .2s;

		&:focus-visible{
			outline: none;
			background-color: $gray-350;
			padding-left: .2rem;
			box-shadow: 0 0 .1rem .1rem rgba(0, 0, 0, 0.5) inset;
		}
	}

	hr.accent{
		border-color: $color-accent;
	}

	i{
		position: absolute;
		padding: .2rem;
		font-size: 1.1rem;
		color: $gray-text-hover;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: .2rem;
		transition: all .2s;
		opacity: 0;
		cursor: pointer;

		&:hover{
			color: $color-contrast;
			background-color: rgba(0,0,0,0.4);
		}

		&.fa-trash{
			bottom: .5rem;
			right: .5rem;
			font-size: 1rem;
			padding: .3rem;
		}
	}


	span{
		&.label {
			text-transform: uppercase;
			color: $gray-text;
			margin-right: .5rem;
			text-decoration: none;
		}
		&.link{
/*			text-decoration: underline;
			text-underline-offset: .1rem;
			text-decoration-color: $gray-text-hover;*/
			cursor: pointer;
			transition: all .2s;

			&:hover{
				color: $gray-text-hover;
				text-decoration-color: transparent;
			}
		}
	}

	p{
		line-height: 130%;
		&.note, &.food{
			color: $gray-text;
			transition: all .2s;
			padding: .2rem;
			padding-left: 0;

			&:focus-visible{
				outline: none;
				background-color: $gray-350;
				box-shadow: 0 0 .1rem .1rem rgba(0, 0, 0, 0.5) inset;
				padding-left: .2rem;
				color: $gray-text-hover;
			}
		}

		&.food{
			color: $color-contrast;
			background-color: $gray-300;

			&:focus-visible{
				color: $color-contrast;
			}
		}

		&.subtext{
			font-weight: 300;
		}

		&:focus{
			outline: 1px solid $gray-text;
			border: none;
			border-radius: .2rem;
		}
	}

	.top{
		display: flex;
		width: 100%;
		height: fit-content;

		.left{
			flex-grow: 1;
		}

		.imgbox{
			aspect-ratio: 1;
			margin-left: .5rem;
			height: 5.5rem;
			box-sizing: border-box;
			background:{
				size: cover;
				position: center;
				color: $gray-300
			}
			border-radius: .5rem;
			border: .1rem solid $gray-380;
			position: relative;

			i{
				bottom: .1rem;
				right: .1rem;
			}
		}
	}
}

#editPopup{
	position: absolute;
	z-index: 50;
	background-color: $gray-350;
	border-radius: .3rem;
	padding: .4rem;
	top: 0;
	display: none;
	max-height: 30vh;
	overflow-y: auto;
	box-shadow: .2rem .2rem .4rem .2rem rgba(0, 0, 0, 0.4);
	border: .1rem solid $gray-380;
	align-items: flex-start;
	row-gap: .3rem;
	column-gap: .5rem;

	&.active{
		display: grid;
	}

	p, input, .confirm{
		background-color: $gray-300;
		padding: .2rem;
		padding-right: .5rem;
		border: .1rem solid $gray-300;
		border-radius: .2rem;
		color: $gray-text-hover;
		cursor: pointer;
		box-sizing: border-box;

		&:hover{
			border-color: $gray-text;
		}
	}

	.confirm{
		display: grid;
		place-items: center;
		aspect-ratio: 1;
		height: 100%;
	}
}

@media (max-width: 767px) {
	main .animals .content .animal i {
		opacity: 1;
	}

}

//endregion

/*---------- login ----------*/

//region login

main.login{
	/*TODO this is offset i think*/
	background: url("./img/login-background.svg"), radial-gradient(circle, $gray-100 0%, $gray-100 70%, hsl(0, 0%, 9%) 100%);
	background: {
		size: contain;
		position: center;
		repeat: no-repeat;
	}
	display: grid;
	place-items: center;
}

#login-container{
	background-color: $gray-200;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	width: 30vw;
	box-sizing: border-box;

	h2{
		font:{
			size: 2.2rem;
			family: "Kanit", sans-serif;
			weight: 200;
		}
		text:{
			align: center;
			transform: uppercase;
		}
		margin-bottom: 1rem;
	}

	input{
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		border-bottom: .1rem solid $gray-text;
		padding: .2rem;
		color: $color-contrast;
		margin-bottom: 2rem;
		transition: border .2s;
		width: 100%;

		&:focus{
			outline: none;
			border-color: $color-accent;
		}
		&:last-of-type{
			margin-bottom: 0rem;
		}
	}

	.error{
		color: hsl(0, 52%, 60%);
		margin-bottom: 2rem;
		margin-top: .8rem;

		.spacer{
			color: gray;
		}
	}

	.info{
		font-size: .9rem;
		margin-bottom: .5rem;
		color: $gray-text-hover;
		text-transform: uppercase;
	}
}

#login-container .buttons{
	display: flex;
	justify-content: space-between;

	button{
		color: $color-accent;
		padding: .3rem .5rem;
		font: {
			family: "Kanit", sans-serif;
			weight: 400;
		};
		text-transform: uppercase;
		transition: color .3s, background-color .3s;

		&.main{
			padding: .3rem .8rem;

			border: {
				style: solid;
				color: $color-accent;
				width: .1rem;
				radius: .5rem;
			};

			&:hover{
				background-color: $color-accent;
				color: $gray-200;
			}
		}

		&.second{
			position: relative;
			&::before{
				content: "";
				height: .08rem;
				top: 80%;
				background-color: $color-accent;
				width: 0rem;
				display: block;
				position: absolute;
				transition: width .2s ease-out;
			}
			&:hover::before{
				color: $color-accent-hover;
				width: 90%;
			}
		}
	}
}

#login-container section{
	display: none;

	&.active{
		display: block;
	}
}

//endregion

/************ PopupEngine Config ************/

.popupEngineModalContent{
	background-color: $gray-200;
	color: $color-contrast;
}

.popupEngineModalHeading{
	margin-bottom: 1rem;
}

.popupEngineModalButton{
	color: $color-accent;
}

.popupEngineNotification{
	border: 1px solid $gray-text;
}

/************ Imports ************/

/************ Keyframes ************/

/************ Responsive ************/

@media screen and (max-width: 1150px) { /*tablet*/
	#login-container{
		width: 50vw;

		input{
			margin-bottom: 1rem;
		}
	}

}

@media screen and (max-width: 600px) { /*phone*/
	#login-container{
		width: 90vw;
	}

	main.login{
		background-size: cover;
	}
}
